<div class="container">
  <h2>LOGIN</h2>
  <form method="post" (submit)="login()">
      <label>Email: </label>
      <input type="text" name="email" [(ngModel)]="user.email" class="form-control">
      <label>Password: </label>
      <input type="password" name="password" [(ngModel)]="user.password" class="form-control">
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>