<table productTable>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr productTableCol *ngFor="let p of products">
      <th scope="row">{{p.id}}</th>
      <td>{{p.ProductNumber}}</td>
      <td>{{p.Productname}}</td>
      <td>Rp. {{p.COGS | number : '1.2-2'}}</td>
      <td><a routerLink="/productdetail/{{p.id}}">update</a></td>
    </tr>
  </tbody>
</table>
<p>*Prices included Tax 10%</p>
<button routerLink="/registerproduct">Register product</button>
<br>
<div>
      
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <label>Update file: </label>
    <input type="file" name="file" (change)="onFileChange($event)" accept=".csv"/>
    <button type="submit">Upload</button>

  </form>
</div>